<!DOCTYPE html>
<html lang="en-US">

<head>
  <meta charset="utf-8">
  <meta content="text/html; charset=UTF-8" name="Content-Type" />
  <meta name="fragment" content="!" />
  <title>Settings</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/bootstrap.css" />
  <!-- <link rel="stylesheet" href="//code.jquery.com/ui/1.10.1/themes/base/jquery-ui.css" type="text/css"> -->
  <!-- <link rel="stylesheet" href="/css/bootstrap-select.css" type="text/css">
  <link rel="stylesheet" href="/css/bootstrap-multiselect.css" type="text/css"> -->

  <!-- <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.css" />
  <link rel="stylesheet" href="//code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" /> -->
  <link rel="stylesheet" type="text/css" href="css/style.css" />
  <!-- <link rel="stylesheet" type="text/css" href="css/styles2.css" /> -->
  <!-- <link rel="stylesheet" href="/css/screen.css" type="text/css"> -->

  <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>
  <script type="text/javascript" src="/js/cf/cf.js"></script>
  <script type="text/javascript" src="/js/string-utils.js"></script>
  <script type="text/javascript" src="/js/i18n.js"></script>

</head>

<body>
  <nav class="navbar navbar-fixed-top navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand top-nav--logo-wdc" href="#">IBM Powered By Bluemix</a>
          </div>
          <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
              <li class="active">
                <a href="/" role="menuitem">Home</a>
              </li>
              <li>
                <a href="/mh" role="menuitem">Mortgage</a>
              </li>
              <li>
                <a href="/ih" role="menuitem">Insurance</a>
              </li>
              <li>
                <a href="/cf" role="menuitem">Consumer Finance</a>
              </li>
              <li>
                <a href="/settings" role="menuitem" style="color:red !important">Settings</a>
              </li>

            </ul>
          </div><!-- /.nav-collapse -->
        </div><!-- /.container -->
  </nav><!-- /.navbar -->


<div class="row header">
    <div class="container">

      <div class="avatar img-container col-lg-2 col-md-2 col-sm-2 hidden-xs">
        <img src="/images/app.png" class="service-icon">
      </div>

      <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 dialog-description">
        <h1 style="font-size:50px;" class="service-title">Financial Demos</h1>
        <div class="resource-item-container">
              <div class="resource-item">Demos showcasing IBM's Data First Methodlology and Watson Data Platform. </div>
        </div>
    </div>
  </div>
</div>

<div class="row">
    <div class="container">
        <div class="input-panel">
          <h2 class="base--h2">Watson Data Platform</h2>
          <div class="row">
            <img  class="col-lg-10 col-md-10 col-sm-10 col-xs-10" src="/images/WDP.png">
          </div>
        </div>

        <div class="input-panel">
          <h2 class="base--h2">IBM's Data First Method</h2>
          <div class="row">
            <img  class="col-lg-10 col-md-10 col-sm-10 col-xs-10" src="/images/IBMDataFirst.png"">
          </div>
        </div>

    </div>
  </div>

  <div class="row">
    <!-- Footer goes here -->
  </div>
  <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>
  <script type="text/javascript" src="/js/mortgage/alchemy.js"></script>
  <script type="text/javascript" src="/js/string-utils.js"></script>
  <script type="text/javascript" src="/js/i18n.js"></script>

</body>

</html>
